<div class="home">
  <div class="shell">
    <div class="home__inner">
      <div class="section section--about">
        <div class="section__head">
          <h2 class="section__title">About Football ProTipster</h2>
        </div>

        <div class="section__body">
          <div class="section__entry">
            <p>
              Football Predictions is a site that provides its customers with
              specially selected daily predictions about the most popular
              sport in the world. Our football tipsters give advice that
              everyone can increase their profits. Football predictions give
              you the chance to offer bets with high odds and a high rate of
              success achieved with in-depth analysis of each football match.
            </p>

            <p>As our name suggests, we offer the most popular bets on the
              betting market: x1 or ×2 Betting Tips, Asian Handicap Tips, Over
              and Under Tips, Corner Tips and more football predictions. Enjoy
              the opportunity while watching your favorite game of winning
              with us.
            </p>
          </div>

          <div class="section__entry" *ngIf="bet$ | async as bet">
            <h2 class="daily__title">Daily Predictions</h2>

            <h3 *ngIf="bet.length === 0">Coming soon daily predictions!</h3>

            <div class="dailyPrediction" *ngFor="let bet of (bet$ | async)">
                <span *ngIf="!bet.isFinished">
                    <div class="homeTeam">
                      <h4 class="name">{{bet.homeTeam}}</h4>

                      <div class="img-container">
                        <img src="../../../../assets/images/daily.png" alt="dailyPrediction"/>
                      </div>
                    </div>

                    <div class="prediction">
                      <p class="date">{{bet.date | date: 'dd.MM.yyyy'}}</p>

                      <p class="result">{{bet.result}}</p>

                      <p class="prediction">Prediction: {{bet.prediction}}</p>

                      <p class="odd">Odd: {{bet.odd}}</p>
                    </div>

                    <div class="awayTeam">
                      <h4 class="name">{{bet.awayTeam}}</h4>

                      <div class="img-container">
                        <img src="../../../../assets/images/daily.png" alt="dailyPrediction"/>
                      </div>
                    </div>
                </span>
            </div>
          </div>

          <div class="section__entry">
            <table class="table-container" width="100%" role="table" aria-label="Destinations">
              <caption>Last 5 Predictions</caption>

              <thead>
              <tr class="flex-table header" role="rowgroup">
                <th class="flex-row first" role="columnheader">Date</th>

                <th class="flex-row" role="columnheader">Home</th>

                <th class="flex-row" role="columnheader">Match</th>

                <th class="flex-row" role="columnheader">Away</th>

                <th class="flex-row" role="columnheader">Prediction</th>

                <th class="flex-row" role="columnheader">Odd</th>

                <th class="flex-row" role="columnheader">Result</th>
              </tr>
              </thead>

              <tbody>
              <tr class="flex-table row" role="rowgroup" *ngFor="let lastFive of lastFiveBet$ | async">
                <td class="flex-row first" role="cell">{{lastFive.date | date: 'dd.MM.yyyy'}}</td>

                <td class="flex-row" role="cell">{{lastFive.homeTeam}}</td>

                <td class="flex-row" role="cell">{{lastFive.result}}</td>

                <td class="flex-row" role="cell">{{lastFive.awayTeam}}</td>

                <td class="flex-row"
                    role="cell">{{lastFive.prediction}}</td>

                <td class="flex-row" role="cell">{{lastFive.odd}}</td>

                <td class="flex-row" role="cell">{{lastFive.resultBet}}</td>
              </tr>

              <tr class="flex-table row" role="rowgroup" *ngIf="lastFiveBet$ | async as lastFive">
                <td colspan="7" style="text-align: center;" class="flex-row" role="cell" *ngIf="lastFive.length === 0">Coming soon!</td>
              </tr>
              </tbody>
            </table>

            <p class="viewAll">View all <a [routerLink]="['/bet/history']">Predictions</a></p>
          </div>
        </div>
      </div>

      <section class="section section--bookmakers">
        <div class="section__head">
          <h3 class="section__title">Top Bookmakers</h3>
        </div>

        <div class="section__body">
          <a target="_blank" rel="noopener noreferrer" href="https://www.bet365.com/#/HO/">
            <div class="img-container">
              <img src="../../../../assets/images/bet365.gif" alt="bet365"/>
            </div>
          </a>

          <a target="_blank" rel="noopener noreferrer" href="https://www.betfair.com">
            <div class="img-container">
              <img src="../../../../assets/images/betfair.gif" alt="betfair"/>
            </div>
          </a>

          <a target="_blank" rel="noopener noreferrer" href="https://m.skybet.com/">
            <div class="img-container">
              <img src="../../../../assets/images/skybet.gif" alt="skybet"/>
            </div>
          </a>

          <a target="_blank" rel="noopener noreferrer" href="https://www.unibet.eu/s">
            <div class="img-container">
              <img src="../../../../assets/images/unibet-sport.gif" alt="unibet-sport"/>
            </div>
          </a>

          <a target="_blank" rel="noopener noreferrer" href="https://www.soprm6502.com/en/?refer=XAFF2626&aup=True">
            <div class="img-container">
              <img src="../../../../assets/images/pinnacle.gif" alt="pinnacle"/>
            </div>
          </a>
        </div>
      </section>

      <section class="section section--contact">
        <div class="section__head">
          <h2 class="section__title"> Customers Support</h2>
        </div>

        <div class="section__body">
          <div class="section__entry">
            <p>The team of Football ProTipster is available 24/7 and awaits your questions and queries about our services and football predictions. We will endeavor to respond to every inquiry in the shortest possible time with individual attention because every customer is important to us.</p>
          </div>

          <form class="contactForm" #contactForm="ngForm" (ngSubmit)="contact()">
            <div class="form__controls">
              <input ngModel #subject="ngModel" pattern="^[A-Za-z0-9 \-\?\!\.]{5,50}$" type="email" id="subject" name="subject"  placeholder="Subject" required>

              <div class="alert alert-danger" *ngIf="subject?.touched && subject?.errors?.required">
                This field is required!
              </div>

              <div class="alert alert-danger" *ngIf="subject?.errors?.pattern">
                Subject must be between 5 and 50 symbols(letter, digits, space, dot, ? and !)!
              </div>
            </div>

            <div class="form__controls">
              <textarea ngModel #message="ngModel" id="message" name="message" rows="10" placeholder="Message" required></textarea>

              <div class="alert alert-danger" *ngIf="message?.touched && message?.errors?.required">
                This field is required!
              </div>
            </div>

            <div class="form__actions">
              <button [disabled]="contactForm.invalid" class="btn" type="submit" (click)="triggerFalseClick()">Send</button>
              <a #openMail style="visibility: hidden" href="mailto:footballprotipsters93@gmail.com?subject={{subject.value}}&body={{message.value}}"></a>
            </div>
          </form>
        </div>
      </section>

      <section class="section section--divisions">
        <div class="section__head">
          <h2 class="section__title">The most popular Football Divisions:</h2>
        </div>

        <div class="section__entry">
          <div class="grid">
            <div class="division">
              <div class="img-container">
                <img src="../../../../assets/images/premier-league.png" alt="premier-leagu"/>
              </div>
            </div>

            <div class="division">
              <div class="img-container">
                <img src="../../../../assets/images/uefa-europa-league.png" alt="europa-league"/>
              </div>
            </div>

            <div class="division">
              <div class="img-container">
                <img src="../../../../assets/images/champions-league.png" alt="championsLeague"/>
              </div>
            </div>

            <div class="division">
              <div class="img-container">
                <img src="../../../../assets/images/serieA.png" alt="serieA"/>
              </div>
            </div>

            <div class="division">
              <div class="img-container">
                <img src="../../../../assets/images/bundes-liga.png" alt="bundes-liga"/>
              </div>
            </div>

            <div class="division">
              <div class="img-container">
                <img src="../../../../assets/images/primera-division.png" alt="primera-division"/>
              </div>
            </div>

            <div class="division">
              <div class="img-container">
                <img src="../../../../assets/images/ligue-1.png" alt="ligue-1"/>
              </div>
            </div>

            <div class="division">
              <div class="img-container">
                <img src="../../../../assets/images/liga-portugal.png" alt="liga-portugal"/>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
