<div class="create">
  <form class="form" (ngSubmit)="create()" #createForm="ngForm">
  <div class="form__inner">
    <div class="form__head">
      <h2 class="form__title">Create Bet</h2>
    </div>

    <div class="form__body">
      <div class="form__controls">
        <input ngModel #homeTeam="ngModel" pattern="^.{3,}$" type="text" id="homeTeam" class="field" name="homeTeam" placeholder="Home Team" autoComplete="off" required />

        <i class="fas fa-shield-alt"></i>
      </div>

      <div class="form__error form__error--danger" *ngIf="homeTeam?.errors?.pattern">
        Home team must be more than 3 symbols!
      </div>

      <div class="form__controls">
        <input ngModel #awayTeam="ngModel" pattern="^.{3,}$" type="text" id="awayTeam" class="field" name="awayTeam" placeholder="Away Team" autoComplete="off" required />

        <i class="fas fa-shield-alt"></i>
      </div>

      <div class="form__error form__error--danger" *ngIf="awayTeam?.errors?.pattern">
        Away team must be more than 3 symbols!
      </div>

      <div class="form__controls">
        <input ngModel #prediction="ngModel" pattern="^.{2,}$" type="text" id="prediction" class="field" name="prediction" placeholder="Prediction" autoComplete="off" required />

        <i class="fas fa-futbol"></i>
      </div>

      <div class="form__error form__error--danger" *ngIf="prediction?.errors?.pattern">
        Prediction must be more than 1 symbols!
      </div>

      <div class="form__controls">
        <input ngModel #odd="ngModel" pattern="^\d+(\.\d{2})?$" type="text" id="odd" class="field" name="odd" placeholder="Odd" autoComplete="off" required />

        <i class="fas fa-futbol"></i>
      </div>

      <div class="form__error form__error--danger" *ngIf="odd?.errors?.pattern">
        Odd must be contain number: 1 or 1.00!
      </div>
    </div>

    <div class="form__actions">
      <input [disabled]="createForm.invalid" type="submit" value="Create Bet" name="createBet" class="btn btn--create" />
    </div>
  </div>
  </form>
</div>
