<header class="header">
  <div class="shell">
    <div class="header__inner">
      <a routerLink="/home" class="logo">
        <div class="img-container">
          <img src="../../../../assets/images/logo.png" alt="logo"/>
        </div>
      </a>

<!--      <p *ngIf="authService.isAuthenticated()">Welcome {{username}}!</p>-->

      <nav class="nav">
        <ul>
          <li>
            <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
          </li>

          <li *ngIf="!authService.isAuthenticated()">
            <a [routerLink]="['/auth/register']" routerLinkActive="active">Register</a>
          </li>

          <li *ngIf="!authService.isAuthenticated()">
            <a [routerLink]="['/auth/login']" routerLinkActive="active">Login</a>
          </li>

          <li *ngIf="authService.isAdmin()">
            <a [routerLink]="['/bet/create']" routerLinkActive="active">Create</a>
          </li>

          <li *ngIf="authService.isAuthenticated()">
              <a [routerLink]="['/bet/history']" routerLinkActive="active">History</a>
          </li>

          <li *ngIf="authService.isAuthenticated()">
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
