<div class="login">
  <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form__inner">
    <div class="form__head">
      <h2 class="form__title">Login</h2>
    </div>

    <div class="form__body">
      <div class="form__controls">
        <label for="name">
          <i class="fas fa-user"></i>
        </label>

        <input ngModel #name="ngModel" pattern="[A-z][a-z]+\s[A-z][a-z]+" type="text" id="name" class="field" name="name" placeholder="Name" autoComplete="off" required/>

        <div class="alert alert-danger" *ngIf="name?.touched && name?.errors?.required">
          This field is required!
        </div>

        <div class="alert alert-danger" *ngIf="name?.errors?.pattern">
          Name should start with capital letter and contain space between first and last name!
        </div>
      </div>

      <div class="form__controls">
        <label for="password">
          <i class="fas fa-lock"></i>
        </label>

        <input ngModel #password="ngModel" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{3,16}$" type="password" id="password" class="field" name="password" placeholder="Password" autoComplete="off" required/>

        <div class="alert alert-danger" *ngIf="password?.touched && password?.errors?.required">
          This field is required!
        </div>

        <div class="alert alert-danger" *ngIf="password?.errors?.pattern">
          Password must be between 3 and 16 symbols and must contain only letters and digits!
        </div>
      </div>
    </div>

    <div class="form__actions">
      <input [disabled]="loginForm.invalid" type="submit" value="Login" name="login" class="btn btn--login"/>
    </div>
  </div>
  </form>
</div>
