<div class="login">
  <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form__inner">
    <div class="form__head">
      <h2 class="form__title">Login</h2>
    </div>

    <div class="form__body">
      <div class="form__controls">
        <input ngModel #email="ngModel" pattern="^\w+@\w+\..{2,3}(.{2,3})?$" type="text" id="email" class="field" name="email" placeholder="Email" autoComplete="off" required/>

        <i class="fas fa-user"></i>
      </div>
      <div class="form__error form__error--danger" *ngIf="email?.errors?.pattern">
        Email should be correct: exaple@example.com!
      </div>

      <div class="form__controls">
        <input ngModel #password="ngModel" pattern="^[A-Za-z0-9]{4,16}$" type="password" id="password" class="field" name="password" placeholder="Password" autoComplete="off" required/>

        <i class="fas fa-lock"></i>
      </div>

      <div class="form__error form__error--danger" *ngIf="password?.errors?.pattern">
        Password must be between 4 and 16 symbols and must contain only letters and digits!
      </div>
    </div>

    <div class="form__actions">
      <input [disabled]="loginForm.invalid" type="submit" value="Login" name="login" class="btn btn--login"/>
    </div>
  </div>
  </form>
</div>
