.home .intro__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 69px);
  text-align: center;
  color: #fff;
}

.home .intro__title {
  font-size: 48px;
}

.home .intro__entry {
  font-size: 24px;
}

.home .intro--home {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../../../../assets/images/intro--home.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home .home__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home .section__head {
  padding: 30px 0;
}

.home .section__body {
  padding: 0 5px;
}

.home .section__title {
  font-style: italic;
  color: #9de245;
  text-shadow: 0.08em 0.08em 0.08em rgba(41, 59, 143, 0.7);
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 0;
}

.home .section--about {
  flex: 1 0 80%;
  text-align: justify;
  padding-right: 20px;
}

.home .section--bookmakers {
  flex: 1 0 20%;
  text-align: center;
  padding-left: 20px;
}

.home .section--bookmakers .section__head,
.home .daily__title {
  font-style: italic;
  color: #9de245;
  text-shadow: 0.08em 0.08em 0.08em rgba(41, 59, 143, 0.7);
  text-transform: capitalize;
}

.home .section--bookmakers .img-container {
  padding-bottom: 20px;
}

.home .dailyPrediction > span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.home .daily__title {
  flex: 1 0 100%;
  text-align: center;
}

.home .homeTeam,
.home .awayTeam,
.home .prediction {
  text-align: center;
}

.home .result,
.home .prediction,
.home .odd {
  font-size: 22px;
  font-weight: 700;
}

.home .viewAll {
  padding: 5px 0;
  font-style: italic;
  text-align: right;
}

.home .section--divisions {
  flex: 1 0 100%;
}

.section--contact .section__body {
  display: flex;
  justify-content: space-between;
}

.section--contact .section__entry {
  flex: 1 0 50%;
  padding-right: 15px;
  text-align: justify;
}

.section--contact .contactForm {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.contactForm input[type=email],
.contactForm textarea {
  width: 100%;
  padding: 13px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid #293b8f;
  box-shadow: inset -1px 2px 11px 2px rgba(157,226,69,0.5);
  resize: none;
}

.contactForm .form__controls .alert {
  width: 100%;
  margin-top: 0;
}

.contactForm .form__actions button {
  background: linear-gradient(to right,#bff07a 0%,#9ee245 23%,#92c748 50%,#9ed94c 73%,#bff07a 100%);
  color: #fff !important;
  font-size: 20px;
  font-weight: 800;
  width: 100%;
  border-radius: 5px;
  padding: 13px;
  border: 1px solid #293b8f;
  text-align: center;
}

.home .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  list-style-type: none;
  text-align: center;
  padding-bottom: 80px;
}

.home .grid .img-container {
  transition: filter .5s ease-in-out;
  filter: sepia(100%);
}

.home .grid .img-container:hover {
  filter: sepia(0%);
}

@media (max-width: 769px) {
  .home .section--about {
    padding-right: 0;
  }

  .home .section--bookmakers {
    display: none;
    padding-left: 0;
  }

  .home .dailyPrediction > span {
    flex-direction: column;
    justify-content: center;
  }

  .home .section--contact .section__body {
    flex-direction: column;
  }

  .home .section--contact .section__body .section__entry {
    padding-right: 0;
  }

  .home .section--contact .section__body .contactForm {
    padding-left: 0;
  }
}
