<div class="home">
  <ng-template [ngIf]="!authService.isAuthenticated()">
    <div class="intro intro--home">
      <div class="shell">
        <div class="intro__inner">
          <h1 class="intro__title">
            Welcome to FootballProtipster
          </h1>

          <div class="intro__entry">
            You like to watch football and want to make money. Sign up in our site and immerse yourself in the world of football bets.
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
